@import '../../layout/GlobalVariables/styles.scss';
.s_home{
    padding: 10rem 0rem 4rem 0rem;
    min-height: 90vh;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        .main_home{
            width: 100%;
            .top_content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btn{
                    margin-left: 2rem;
                }
                .input_search{
                    max-width: 70%;
                }
            }
            #logo{
                width: 100%;
                max-width: 30rem;
            }
            .user{
                background-color: $blue-500;
                box-shadow: 0rem 0rem 1rem #000;
                padding: 1rem;
                border-radius: 50%;
                box-shadow: 0rem 0rem 1rem #fff;
                cursor: pointer;
                    svg{
                        width: 4rem;
                        height: 4rem;
                    }
                }
            .persons{
                margin-top: 4rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;
            }
            @media (max-width: 600px) {
                .top_content{
                    flex-direction: column;
                }
            }
        }
    }
}
